@import '../variables/';

@mixin card-image-radius {
	border-top-left-radius: map-get($borders, borders_large_radius) !important;
	border-top-right-radius: map-get($borders, borders_large_radius) !important;
	border-bottom-left-radius: 0 !important;
	border-bottom-right-radius: 0 !important;
}
