@import 'sass';

.ant-table {
	// padding: 0 20px !important;
	background-color: map-get($theme-colors, color_themePrimaryOpaq) !important;
	color: white !important;
	border: 1px solid map-get($theme-colors, color_themePrimary) !important;
	font-weight: 300;
}

.ant-collapse > .ant-collapse-item > .ant-collapse-header {
	align-items: center !important;
}

.ant-table-row .ant-table-cell {
	border-top: solid 1px map-get($theme-colors, color_themePrimary) !important;
	padding: 8px 16px !important;
}

.ant-table-row {
	&:hover {
		background-color: map-get($theme-colors, color_themePrimaryOpaq) !important;
	}
}

.ant-table-wrapper .ant-table-thead > tr > th {
	color: white !important;
	background-color: transparent !important;
	font-weight: 700;
}

.ant-table-wrapper .ant-table-tbody > tr.ant-table-row:hover > td,
.ant-table-wrapper .ant-table-tbody > tr > td.ant-table-cell-row-hover {
	background-color: map-get($theme-colors, color_themePrimaryOpaq) !important;
}
